.contact-container {
  width: 100%;
  max-width: 900px;
  margin: 0.5rem auto 2rem auto;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  box-sizing: border-box;
}

.contact-left,
.contact-right {
  flex: 1 1 0;
  min-width: 200px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.subtext {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

.email {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.email-link {
  background: #fcfcfc;
  color: rgb(240, 61, 172);
  border: none;
  border-radius: 2rem;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background 0.2s;
}

.email-link:hover {
  background: #e5e5e5;
}

.info-boxes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 5px;
  justify-content: space-between;
  width: 100%;
}

.external-icon {
  color: rgb(240, 61, 172);
}