@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('./assets/GeneralSans-Variable.ttf') format('truetype');
  font-weight: lighter;
  font-style: lighter;
}

.header-row {
  font-family: 'GeneralSans-Variable', sans-serif;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.left-col {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.profile {
  width: 35vw;
  max-width: 400px;
  min-width: 100px;
  margin-right: 2rem;
  margin-left: auto;
  display: flex;            
}

.profile img {
  width: 60vw;
  max-width: 600px;
  min-width: 250px;
  border-radius: 16px;
}

.subtitle {
  color: rgb(240, 61, 172);
}

@media (max-width: 900px) {
  .header-row {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .profile {
    width: 50vw;
    max-width: 250px;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 0;
  }

  .left-col {
    width: 100%;
    align-items: center;
  }

  .info-boxes {
    justify-content: center;
  }

  .title h1, 
  .title .subtitle {
    font-size: 1.5rem;
  }
}