@font-face {
  font-family: "GeneralSans-Variable";
  src: url("./assets/GeneralSans-Variable.ttf") format("truetype");
}

body,
#root {
  font-family: "GeneralSans-Variable", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/blogbg.jpeg");
  background-size: cover;
}

.title {
  text-align: center;
}

.container-phone .subtitle {
  margin-top: -1.5rem;
}

.container-phone h1 {
  text-align: center;
}

.container-fluid {
  padding-left: 15rem;
  padding-right: 15rem;
}

.title-underline {
  height: 1.5px;
  background: rgb(225, 222, 223);
  width: 35%;
  border-radius: 2px;
  margin-top: -10px;
  margin-bottom: 1rem;
}

.hover-effect
.info-box:hover {
  box-shadow: 0 4px 16px rgba(240, 61, 172, 0.15);
  transform: translateY(-2px) scale(1.02);
}

.app-content {
  flex: 1;
}

.subtitle {
  color: rgb(240, 61, 172);
}

h1,
.subtitle {
  font-weight: 300;
}

.container-phone {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}
