.info-box {
  background: #f9f9f9;
  border-radius: 1.5rem;
  padding: 1.0rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: #222;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  font-size: 1rem;
  word-break: break-word;
}

.info-box-header {
  font-size: 1.2rem;
  color: #959595;
  letter-spacing: 0.02rem;
}

.info-box.small {
  max-width: 250px;
  min-width: 180px;
}

.info-box.medium {
  max-width: 350px;
  min-width: 220px;
}

.info-box.grande {
  max-width: 390px;
  min-width: 220px;
}

.info-box.large {
  max-width: 450px;
  min-width: 260px;
}
